:root {
  --primary-color: #ed4c38;
  --secondary-color: #FFE5E2;
  --light-color: #F5F5EB;
  --dark-color: rgb(104, 101, 101);
  --max-width: 1100px;
}

/* #F5F5EB; light grey*/
/* #ed4c38; pink-red*/
/* #FFE5E2 pastel-pink*/
/* 
font-family: 'Lexend Deca', sans-serif; */

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-color);
  line-height: 1.5;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
  
}

h1 {
  font-size: 65px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color: var(--primary-color);
}

p {
  padding: 15px 0;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  padding: 10px 20px;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  padding: 0 10px;
  font-size: 19px;
}

span {
  color: var(--primary-color);
  font-weight: bold;
}

.category {
  display: inline-block;
  padding: 5px 20px;
  text-align: center;
  background-color: var(--dark-color);
  letter-spacing: 4px;
  border-radius: 5%;
  
}

.pastel-blue {
  color: #8cd1ca;
}

.pastel-pink {
  color: #EE959E;
}

/* Navigation */

.main-nav {
  background-color: #fff;
  padding: 15px 20px;

}

.main-nav .container {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
  align-items: center;
}

.main-nav .container p {
  font-size: 25px;
}

.current {
  background-color: var(--primary-color);
  color: #fff;
}

.current:hover {
  background-color: #ce4836;
}

.main-nav .social a:hover {
  color: var(--primary-color);
}

/* Showcase */

.showcase {
  width: 100%;
  height: 80vh;
  position: relative;
  padding: 0 30px;
  
}

.showcase:before {
  content: '';
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.showcase-content {
  position: relative;
  padding-top: 250px;
  width: 40%;
  z-index: 2;
}